@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

// Colors:

// Top navbar colors.
$nav-search-bg-color: #121921;
$nav-categories-bg-color: #232f3f;
$search-btn-bg-color: #febd69;
// Buying section colors.
$add-to-cart-btn-bg-color: #fed813;
$buy-now-btn-bg-color: #ffa41d;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    a {
        text-decoration: none;
    }
    ul {
        list-style-type: none;
    }
}
body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    header {
        color: white;
        width: 100vw;
        width: 100vw;
        .header-nav-items {
            border: 1px solid $nav-categories-bg-color;
            border-radius: 2px;
        }
        .main-nav {
            height: 60px;
            display: flex;
            background-color: $nav-search-bg-color;
            align-items: center;
            justify-content: center;
            div {
                border-color: $nav-search-bg-color;
                width: 150px;
                &:hover {
                    border-color: white;
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .categories-nav {
            height: 30px;
            background-color: $nav-categories-bg-color;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-evenly;
            li {
                padding: 2px 8px;
                &:hover {
                    border-color: white;
                }
            }
        }
    }
}
