@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

* a {
  text-decoration: none;
  cursor: pointer;
}

* ul {
  list-style-type: none;
}

* button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
}

body header {
  font-size: 80%;
  color: white;
  width: 100vw;
  width: 100vw;
}

body header .header-item-hover {
  border: 1px solid;
  border-radius: 2px;
}

body header .header-item-hover:hover {
  border-color: white;
}

body header .main-nav {
  height: 60px;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[2] 1fr 50px 150px (100px)[2];
      grid-template-columns: repeat(2, 150px) 1fr 50px 150px repeat(2, 100px);
  background-color: #121921;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
}

body header .main-nav .main-nav-item {
  border-color: #121921;
  width: 150px;
  padding: 5px 7px;
}

body header .main-nav .main-nav-item:hover {
  border-color: white;
}

body header .main-nav .main-nav-item img {
  max-width: 100%;
  max-height: 100%;
}

body header .main-nav .search-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 50px;
      grid-template-columns: 100px 1fr 50px;
  height: 70%;
}

body header .main-nav .search-container .search-btn {
  background-color: #febd69;
  border: 0;
  border-radius: 0 6px 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .main-nav .search-container .search-btn img {
  width: 50%;
  height: 50%;
}

body header .main-nav .search-container .search-btn:hover {
  background-color: #fbb252;
}

body header .main-nav .lang-logo {
  width: 50px;
}

body header .main-nav .sign-in {
  width: 150px;
}

body header .main-nav .orders {
  width: 100px;
}

body header .main-nav .cart {
  width: 100px;
}

body header .categories-nav {
  background-color: #232f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 4px 8px;
}

body header .categories-nav .categories-nav-item {
  padding: 8px 8px;
  border: 1px solid #232f3f;
}

body header .categories-nav .categories-nav-item:hover {
  border-color: white;
}

body .sub-categories-nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 8px;
  color: #333333;
  font-size: 75%;
  text-underline-offset: 0.2em;
}

body .sub-categories-nav .sub-categories-nav-item {
  border: none;
}

body .sub-categories-nav .sub-categories-nav-item:hover {
  -webkit-text-decoration: 2px solid underline #ffa41d;
          text-decoration: 2px solid underline #ffa41d;
}
/*# sourceMappingURL=style.css.map */